.footContainer{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.links{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.65em;
}

.copyright{
  display: flex;
  flex-wrap: wrap;
  text-align: end;
}

img{
max-width: 1em;
}

a{
  color:white;
  text-decoration: none;
}
