<mat-card>
  <mat-card-header>
    <mat-card-title i18n>
      About ngFAST
    </mat-card-title>
    <mat-card-subtitle i18n>
      What is ngFAST anyways?
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p i18n>
      Looking for ways to optimize an Angular app I was working on, I realized
      that the best way was to start from scratch. Not wanting to do everything
      again if I didn't have to and ngFAST was born.
    </p>
    <p i18n>
      Built on Angular 8, hosted by Firebase, and using the latest
      optimizations, ngFAST really is fast. This project scores green on all
      lighthouse tests, uses preloading hints to ensure the content hits the
      browser as fast as possible, and serves all resources through Firebase
      Storage for what is basically a private CDN.
    </p>
  </mat-card-content>
</mat-card>
