@import "../../../cssvars.scss";

.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar a{
  color: mat-color($app-warn);
}

a{
  color:white;
  text-decoration: none;
}

.button {
  background-color: mat-color($app-accent);
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.header{
  display: flex;
}

// .title{
//   color: mat-color($app-accent);
// }

.utilitybar{
  justify-content: space-between;
}

.themetoggle{
  flex-grow: 1;
  color: mat-color($app-warn);
}

.languagebar{
  flex-shrink: 2;
}
