.navbar{
  position: sticky;
  top: 50px
}

a{
  color:white;
}

.button {
  background-color: darkslateblue;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}

.header{
  display: flex;

}

.utilitybar{
  justify-content: space-between;
}

.themetoggle{
  flex-grow: 1;
}

.languagebar{
  flex-shrink: 2;
}
