<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      mat-card-avatar
      alt="Ng-Fast logo"
      src="https://firebasestorage.googleapis.com/v0/b/ngfaster.appspot.com/o/icon_48.png?alt=media&token=7a60a1aa-9089-4c97-a106-3a02e36a7b04"
      style="max-width: 48px;"
    />
    {{ title }}
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="accent" class="navbar">
  <div>
    <a routerLink="/home">Home</a>
    &nbsp;
    <a routerLink="/about">About</a>
    &nbsp;
    <a routerLink="/contact">Contact</a>
    &nbsp;
    <a routerLink="/docs">Docs</a>
  </div>
</mat-toolbar>
