<mat-card class="ngfast">
  <mat-card-header>
    <img
      mat-card-avatar
      alt="Ng-Fast logo"
      src="https://firebasestorage.googleapis.com/v0/b/ngfaster.appspot.com/o/icon_48.png?alt=media&token=7a60a1aa-9089-4c97-a106-3a02e36a7b04"
    />
    <mat-card-title i18n> What is ngFAST? </mat-card-title>
    <mat-card-subtitle i18n>
      Firebase Angular Simple Template
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4 i18n>
      A high performance PWA template using Firebase Hosting, Angular and
      Material Design
    </h4>

    <p i18n>
      A publicly usable Angular PWA template that scores ~100 in all Lighthouse
      tests, depending on the environment it is hosted in.
    </p>

    <p i18n>A full suite of tests provided out of the box ensures the project remains functional as you work on it.</p>
  </mat-card-content>
</mat-card>
