<mat-card class="ngfast">
  <mat-card-header>
    <img
      mat-card-avatar
      alt="Ng-Fast logo"
      src="../../../assets/logo.png"
    />
    <mat-card-title i18n> What is ngFAST? </mat-card-title>
    <mat-card-subtitle i18n>
      Firebase Angular Simple Template
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4 i18n>
      A high performance PWA template using Firebase Hosting, Angular and
      Material Design
    </h4>

    <p i18n>
      A publicly usable Angular PWA template that scores ~100 in all Lighthouse
      tests, depending on the environment it is hosted in.
    </p>

    <p i18n>A full suite of tests provided out of the box ensures the project remains functional as you work on it.</p>

    <p i18n>Footnote: Yeah, I know it looks ugly. I am not a great visual designer, but that is up to you! The code is a solid starting point for you to build on.</p>
  </mat-card-content>
</mat-card>
