// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually app-theme.scss).
$app-primary: mat-palette($mat-green, 900);
$app-accent:  mat-palette($mat-teal, 900);
$app-warn:    mat-palette($mat-red, A700);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
