// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually app-theme.scss).
$app-primary: mat-palette($mat-light-blue, 800, A100, 900);
$app-accent:  mat-palette($mat-blue, 800, A100, 900);
$app-warn:    mat-palette($mat-red, A700, A100, A900);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
